<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="{% url 'booking' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BOOK SEAT!</a>
    <a href="{% url 'signout' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
  </div>
</div>


</body>
</html>
